
@{
    ViewBag.Title = "Index";
    var articles = ViewBag.BlogArticles as List<BlogArticle>;
}

<h2>博客</h2>
<fieldset>
    <form method="get" action="@Url.Action("Index")"><input type="text" name="q" value="@ViewBag.q" /><input type="submit" value="搜索" class="btn-group" /></form>
</fieldset>
<ol>
    @foreach (var item in articles)
    {
        <li>
            @Html.ActionLink("[  编辑  ]", "Edit", new { id = item.ID }) |
            @Html.ActionLink("[  删除  ]", "Delete", new { id = item.ID }) |
         <!-- <a href="Blog/Show/@item.ID">@item.Subject</a>  -->
            <a href="@Url.Action("show",new {id=item.ID})">@item.Subject</a>

        </li>
    }
</ol>

